@()

<h1>List of users</h1>
Search: <input type="search" ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="profile.name">Name</option>
  <option value="profile.email">Email</option>
  <option value="profile.birthday">Birthday</option>
</select>
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Verified email ?</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Locale</th>
        <th>G+ page</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter : query | orderBy:orderProp">
        <td><a href="/users/{{user.profile.id}}">{{user.profile.name}}</a></td>
        <td><a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></td>
        <td>{{user.profile.verifiedEmail}}</td>
        <td>{{user.profile.gender | uppercase}}</td>
        <td>{{user.profile.birthday | date}}</td>
        <td>{{user.profile.locale | uppercase}}</td>
        <td><a href="{{user.profile.link}}"><img class="profile-picture" src="{{user.profile.picture}}"></a></td>
    </tr>
  </tdody>
</table>
